@{
    ViewData["Title"] = "Projects";
}

<div class="main-top">
    <div class="main-top-content">
        <h1 class="main-top-title">@ViewData["Title"]</h1>
        <button type="button" data-modal="true" data-target="#addProjectModal" class="btn btn-blue"><i class="fa-solid fa-plus-large plus"></i> Add Project</button>
    </div>
    <div class="main-top-links">
        <a href="#">ALL [0]</a>
        <a href="#">STARTED [0]</a>
        <a href="#">COMPLETED [0]</a>
    </div>
</div>