<div></div>
<div class="top-content">
    <div type="button" data-option="true" data-target="#userSettings" class="settings-icon">
        <i class="fa-duotone fa-solid fa-gear" style="--fa-primary-opacity: 0.4; --fa-secondary-opacity: 1;"></i>
    </div>
    <div id="userSettings" class="surface-md settings">
        <div type="button" data-setting="true" setting-target="#Users" class="setting profile">
            <div class="img-container">
                <img src="~/images/Logo-icon.svg" alt="Profile">
            </div>
            <div>Tommy Mattin-Lassei</div>
        </div>
        <div class="setting logout">
            <i class="fa-duotone fa-solid fa-arrow-right-from-bracket"></i>
            <p>Logout</p>
        </div>
    </div>
    <div class="img-container">
        <img src="~/images/Logo-icon.svg" alt="Profile">
    </div>
</div>