<nav class="nav-links">
    <a class="nav-link @(Context.Request.Path == "/project/index" ? "active": "")" asp-controller="Project" asp-action="Index">
        <i class="fa-duotone fa-solid fa-briefcase"></i>
        <span>Projects</span>
    </a>
</nav>
