@model AddProjectViewModel

<div id="addProjectModal" class="modal">
        <div class="modal-content">

            <div class="modal-header">
                <h3>Add Project</h3>
                <button type="button" class="btn-close" data-close="true"></button>
            </div>

            <form novalidate method="post" enctype="multipart/form-data" asp-action="AddProject" asp-controller="Project">

                <div class="image-previewer square">
                    <img src="" class="image-preview" />
                    <input asp-for="Form.ProjectImage" type="file" accept="image/*" class="d-none" />
                </div>

                <div class="form-group">
                <label asp-for="Form.ProjectName"></label>
                    <div class="field-group">
                    <input asp-for="Form.ProjectName" />
                    <span asp-validation-for="Form.ProjectName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Form.ClientName"></label>
                    <div class="field-group">
                        <select asp-for="Form.ClientId" asp-items="ViewBag.Clients">
                            <option value="">-- Choose a Client --</option>
                        </select>
                        <span asp-validation-for="Form.ClientName"></span>
                    </div>
                </div>
                <div class="form-group">
                <label asp-for="Form.Description"></label>
                    <div class="field-group">
                    <input asp-for="Form.Description" type="text" />
                    </div>
                </div>
                <div class="form-group-date">
                    <div>
                    <label asp-for="Form.StartDate"></label>
                        <div class="field-group">
                        <input asp-for="Form.StartDate" />
                        <span asp-validation-for="Form.StartDate"></span>
                        </div>
                    </div>
                    <div>
                    <label asp-for="Form.EndDate"></label>
                        <div class="field-group">
                        <input asp-for="Form.EndDate" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                <label asp-for="Form.Budget"></label>
                    <div class="field-group">
                    <input asp-for="Form.Budget" />
                    </div>
                </div>

                <input asp-for="Form.UserId" type="hidden" name="UserId" value="@Model.Form.UserId" />

                <input asp-for="Form.StatusId" type="hidden" name="StatusId" value="@Model.Form.StatusId" />

                <button type="submit" class="btn btn-blue btn-submit">Create</button>

            </form>

        </div>
    </div>
