@using Business.Models
@model Project

<div class="project-card">
    <div class="project-header">
        <img class="project-img" src="~/images/Project-image.svg" alt="Project Picture">
        <div class="project-info">
            <h4 class="project-name">@Model.ProjectName</h4>
            <p class="project-client">@Model.ClientName</p>
        </div>
        <div type="button" data-option="true" data-target="#addProjectOptions"><i class="fa-solid fa-ellipsis btn-more"></i></div>
        <div id="addProjectOptions" class="surface-sm options">
            <div type="button" data-modal="true" data-target="#editProjectModal" class="option edit">
                <i class="fa-duotone fa-solid fa-pen-line"></i>
                <p>Edit</p>
            </div>
            <div class="option delete">
                <i class="fa-duotone fa-solid fa-trash"></i>
                <a asp-action="DeleteProject" asp-controller="Project" asp-route-id="@Model.Id">Delete Project</a>
            </div>
        </div>
    </div>
    <p class="project-desc">@Model.Description</p>
</div>