@model UserSignUpForm

@{
    Layout = "_Layout_CenterScreen";
    ViewData["Title"] = "Create Account";
}

<section id="signup">
    <div class="center-screen">
        <div class="surface">
            <div class="cetner-content">
                <h1 class="mb-4 text-center">@ViewData["Title"]</h1>
                <form asp-controller="Auth" asp-action="SignUp" method="post" novalidate enctype="multipart/form-data">
                    <div class="form-group mb-4">
                        <label asp-for="FirstName">First Name</label>
                        <input asp-for="FirstName" type="text" class="form-control" placeholder="Your first name">
                        <span asp-validation-for="FirstName"></span>
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="LastName">Last Name</label>
                        <input asp-for="LastName" type="text" class="form-control" placeholder="Your last name">
                        <span asp-validation-for="LastName"></span>
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" type="email" class="form-control" placeholder="Your email address">
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password">
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="ConfirmPassword">Confirm Password</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm your password">
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <div class="form-group-check mb-3">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label">I accept <a href="#">Terms and Conditions</a></label>
                    </div>
                </form>
                <button type="submit" class="btn btn-blue btn-submit-login">Create Account</button>
                <div class="center-content already-account">
                    <p>Already have an account? <a asp-controller="Auth" asp-action="SignIn">Sign In</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
